* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;  
    margin: auto;
}

.wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: #171717;
 

}
.header {
    max-width: 1465px;
}
.header-container {
    display: inline-block;
    display: flex;
    justify-content: space-between;

}
.logo-link {
margin-top: 46px;
text-decoration: none;

}

.button {
border: 1px solid #E4B564;
margin-top: 37px;
width: 218px;
height: 50px;
margin-left: auto;
background: #171717;
}

.btn {
color: #E4B564;
text-decoration: none;
padding-top: 10px;
padding-bottom: 10px;
}
/* .icone-phone {
    margin-right: 8px;

} */
 .main-page { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    
}
.main-text {
width: 1460px;
}
.title-container {
max-width: 1460px ;
color: #FFFFFF;
    
}
.title {
text-align: left;
font-size: 50px;

}
.subtitle {
margin-top: 40px;
font-size: 20px;
width: 1182px;
}

.content {
    list-style: none;
    color: #FFFFFF;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(468px,1fr);
    /* justify-content: center;
    align-content: center; */
    gap: 34px 27px;
    grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
    /* text-align: center; */

    
}
ul .content>li {
    display: flex;
  align-items: center;
    
}
.main-content1 {
    background: #634F2C;
    grid-area: item1;
    align-items: center;
    
}
.main-content2 {
    background: #B4A385;
    grid-area: item2;
    
}
.main-content3 {
    background: #E4B564;
    grid-area: item3;
   
}
.main-content4 {
    background: #635A4A;
    grid-area: item4;
    
   
}
.main-content5{
    background: #B08C4D;
    grid-area: item5;
} 

.content-link {
    align items : center;
    text-decoration: none; 
    color: #FFFFFF;
}
.fleet-content {
    max-width: 1460px ;
    margin-top: 161px;
}
.catalog {
    color: #FFFFFF;
    width: 100%;
}
.catalog-title {
    max-width: 1460px ;
font-size: 50px;
line-height: 28px;
text-align: left;

}
.catalog-item {
    display: flex;
    flex-direction: column;
    height: 900px;
    align-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 94px;
    color: #FFFFFF;
}
.car1 {
    background: #0E0E0E;
    border: 1px solid #FFFFFF;
}
.car2 {
    border: 1px solid #FFFFFF;
    background: #242424;
}
.car3 {
    border: 1px solid #FFFFFF;
    background: #1F1F1F;
}
.car4 {
    border: 1px solid #FFFFFF;
    background: #1F1F1F;
}
.car5 {
    border: 1px solid #FFFFFF;
    background: #E4B564;
}
.car6 {
    border: 1px solid #FFFFFF;
    background: #0E0E0E;
}
.car7 {
    border: 1px solid #FFFFFF;
    background: #0A0909;
}
.car-link {
    text-decoration: none;
    color: #FFFFFF;
}

.projects {
    margin-top: 191px;
    width: 100%;
    margin-bottom: 240px;
}
.projects-title {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

/* .projects-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #FFFFFF;
} */
.btn-projects {
    background: #0E0E0E;
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
}
.btn-link {
    color: #E4B564;
    vertical-align: middle;
}
ul.projects-list li{
    min-height: 390px;
    min-width: 487px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.projects-box {
    margin-top: 70px;
}
.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;

    margin: 0;
}
.projects-item1 {
    background: #634F2C;
    
}
.projects-item2 {
    background: rgba(232, 210, 171, 0.76);
    

}
.projects-item3 {
    background: #E4B564;
}
.projects-item4 {
    background: #635A4A;
}
.projects-item5 {
    background: #B08C4D;
}
.projects-item6 {
    background: #634F2C;
}
.projects-link {
    text-decoration: none;
    color: #FFFFFF;
}
.project-img {
    /* text-align: center;
    vertical-align: middle; */
    
}